# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dev-dist
dev-dist-ssr
*.local
.pnpm-store
.pnpm

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Evaluation screenshots
screenshot.png
.eslintcache
.oxlintcache

# Environment variables
.env*
